.git
.sass-cache
.DS_Store

LICENSE
_site

script/

# Locale ignores
ar/assets/
sv/assets/

ar/script/
sv/script/

ar/LICENSE
sv/LICENSE

ar/README.md
sv/README.md

ar/Gemfile
sv/Gemfile

ar/Gemfile.lock
sv/Gemfile.lock
